<template>
  <div class="card">
    <DataView :value="allRestaurants" :layout="layout" :paginator="true" :rows="9" :sortOrder="sortOrder"
              :sortField="sortField" v-model:filters="filters1"
              :globalFilterFields="['name']">
      <template #header>
        <div class="grid grid-nogutter">
          <Button type="button" icon="pi pi-filter-slash" label="Clear" class="p-button-outlined" @click="clearFilter1()"/>
          <span class="p-input-icon-left">
              <i class="pi pi-search" />
              <InputText v-model="filters1['global'].value" placeholder="Keyword Search" />
          </span>
        </div>
        <div class="col-6" style="text-align: right">
          <DataViewLayoutOptions v-model="layout" />
        </div>
      </template>

      <template #list="slotProps" #filter="{filterModel}">
        <div class="col-12">
          <div class="product-list-item">
            <img :src="slotProps.data.logo" :alt="slotProps.data.name"/>
            <div class="product-list-detail">
              <div class="product-name">{{slotProps.data.name}}</div>
              <div class="product-description">{{slotProps.data.description}}</div>
              <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{slotProps.data.name}}</span>
            </div>
            <div class="product-list-action">
              <span class="product-price">${{slotProps.data.name}}</span>
              <Button icon="pi pi-shopping-cart" label="Add to Cart" :disabled="slotProps.data.name === 'OUTOFSTOCK'"></Button>
              <span :class="'product-badge status-'+slotProps.data.name.toLowerCase()">{{slotProps.data.name}}</span>
            </div>
          </div>
        </div>
      </template>

      <template #grid="slotProps">
        <div class="col-12 md:col-4">
          <div class="product-grid-item card">
            <div class="product-grid-item-top">
              <div>
                <i class="pi pi-tag product-category-icon"></i>
                <span class="product-category">{{slotProps.data.name}}</span>
              </div>
              <span :class="'product-badge status-'+slotProps.data.name.toLowerCase()">{{slotProps.data.name}}</span>
            </div>
            <div class="product-grid-item-content">
              <img :src="slotProps.data.logo" :alt="slotProps.data.name"/>
              <div class="product-name">{{slotProps.data.name}}</div>
              <div class="product-description">{{slotProps.data.description}}</div>
            </div>
            <div class="product-grid-item-bottom">
              <span class="product-price">${{slotProps.data.name}}</span>
              <Button icon="pi pi-shopping-cart" :disabled="slotProps.data.name === 'OUTOFSTOCK'"></Button>
            </div>
          </div>
        </div>
      </template>
    </DataView>
  </div>
</template>


<script>
import { ref, onMounted } from "vue";
import {FilterMatchMode,FilterOperator} from 'primevue/api';

export default {
  name: "SuggestionCreation",

  setup() {
    var id = 1;
    const allRestaurants = ref([
      {
        id: id++,
        name: 'Chicken Station',
        logo: 'https://tenbis.blob.core.windows.net/res-group-image/ResGroup_66290_20220306130049.jpg',
        description: 'The best Schnitzel in town!'
      },
      { id: id++,
        name: 'Jappo',
        logo: 'https://d25t2285lxl5rf.cloudfront.net/images/shops/24132.png',
        description: 'Lightweight lunch for a bad day'
      },
      {
        id: id++,
        name: 'Liv',
        logo: 'https://d25t2285lxl5rf.cloudfront.net/images/shops/5272.jepg',
        description: 'You only Liv once. Unless you\'re Ohad'
      },
      {
        id: id++,
        name: 'Chef Salad',
        logo: 'https://d25t2285lxl5rf.cloudfront.net/images/shops/16481.png',
        description: 'Erez is our favourite customer'
      }
    ]);
    const layout = ref('list');
    const sortKey = ref();
    const sortOrder = ref();
    const sortField = ref();
    const sortOptions = ref([
      {label: 'Price High to Low', value: '!price'},
      {label: 'Price Low to High', value: 'price'},
    ]);
    const onSortChange = (event) => {
      const value = event.value.value;
      const sortValue = event.value;

      if (value.indexOf('!') === 0) {
        sortOrder.value = -1;
        sortField.value = value.substring(1, value.length);
        sortKey.value = sortValue;
      }
      else {
        sortOrder.value = 1;
        sortField.value = value;
        sortKey.value = sortValue;
      }
    };
    const filters1 = ref({
      'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
      'name': {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.STARTS_WITH}]},
    });
    const initFilters1 = () => {
      filters1.value = {
        'global': {value: null, matchMode: FilterMatchMode.CONTAINS},
        'name': {operator: FilterOperator.AND, constraints: [{value: null, matchMode: FilterMatchMode.STARTS_WITH}]},
      }
    };
    const clearFilter1 = () => {
      initFilters1();
    };

    return {
      allRestaurants, layout, sortKey, sortOrder, sortField, sortOptions, filters1, initFilters1, clearFilter1
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    background: #ffffff;
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 2rem;
  }
  .p-dropdown {
    width: 14rem;
    font-weight: normal;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .product-description {
    margin: 0 0 1rem 0;
  }

  .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
  }

  .product-category {
    font-weight: 600;
    vertical-align: middle;
  }

  ::v-deep(.product-list-item) {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    img {
      width: 50px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      margin-right: 2rem;
    }

    .product-list-detail {
      flex: 1 1 0;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: .5rem;
      align-self: flex-end;
    }

    .product-list-action {
      display: flex;
      flex-direction: column;
    }

    .p-button {
      margin-bottom: .5rem;
    }
  }

  ::v-deep(.product-grid-item) {
  margin: .5rem;
  border: 1px solid var(--surface-border);

  .product-grid-item-top,
  .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

  .product-grid-item-content {
  text-align: center;
}

  .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
}

  @media screen and (max-width: 576px) {
  .product-list-item {
  flex-direction: column;
  align-items: center;

  img {
  margin: 2rem 0;
}

  .product-list-detail {
  text-align: center;
}

  .product-price {
  align-self: center;
}

  .product-list-action {
  display: flex;
  flex-direction: column;
}

  .product-list-action {
  margin-top: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
}
}
</style>