<template>
  <div class="suggestions-container">
    <div v-if="suggestedRestaurants" class="card">
      <h1>Today's Suggested Restaurants</h1> <br>
      <Carousel :value="suggestedRestaurants" :numVisible="3" :numScroll="1" :responsiveOptions="responsiveOptions">
        <template #header>
        </template>
        <template #item="slotProps">
          <!--          <img src="@/assets/restaurant-logos/Favourite.png" alt="">-->
          <div :class="{ activeBorder: selectedId ===  slotProps.data.id}" class="product-item">
            <div class="product-item-content">
              <div class="suggestion-info">
                <div class="mb-3 suggestion-header">
                <img v-if="slotProps.data.friends" src="@/assets/restaurant-logos/friends.png" class="badgeCls"
                     title="Your friends eat here often"/>
                <img v-if="slotProps.data.favourite" src="@/assets/restaurant-logos/Favourite.png" class="badgeCls"
                     title="One of your Top 3 restaurants"/>
                <img :src="slotProps.data.logo" :alt="slotProps.data.name" class="product-image"/>
              </div>
                <div>
                  <h3 class="mb-1">{{ slotProps.data.name }}</h3>
                  <br>
                  <div class="car-buttons mt-5">
                    <Button icon="pi pi-question-circle" class="p-button p-button-rounded mr-2"/>
                    <Button style="margin: 0 10px;" icon="pi pi-users" class="p-button-help p-button-rounded"
                            @click="showGroupDetails(slotProps.data)"/>
                    <Button id="joinGroup" icon="pi pi-user-plus" class="p-button-success p-button-rounded mr-2"
                            @click="joinGroup(slotProps.data)"/>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-4">
                  <div class="card avatarWrapper" v-if="profiles">
                    <Avatar
                        v-for="member in profiles.filter(profile => (profile.joinedSuggestionId === slotProps.data.id) && (dayjs(profile.joinedTime)) > dayjs().hour(0).second(0).millisecond(0))"
                        :image="member.avatarUrl" :title="member.userEmail"
                        class="mr-2" size="large" shape="circle"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </Carousel>

      <div style="text-align:center;">
        <Button label="Get Lucky" @click="getLucky(suggestedRestaurants)" class="p-button-rounded p-button-warning"/>
        <Button label="Submit Choice" :disabled="!selectedId" @click="submitChoice"
                class="p-button-rounded p-button-success"/>
      </div>
    </div>
    <div class="suggestions-container" v-else>
      <h1>Loading your suggestions...</h1> <br>
      <ProgressSpinner/>
    </div>
  </div>
</template>
<script>
import {ref, reactive, onMounted} from 'vue';
import {getSuggestions, joinSuggestion} from "./suggestionsService";
import {getProfiles} from "../profiles/profilesService";
import {useCookies} from "vue3-cookies";
import JSConfetti from 'js-confetti';
import dayjs from "dayjs";

export default {
  name: "Suggestions",
  setup() {
    const {cookies} = useCookies()
    const suggestedRestaurants = ref(null);
    const profiles = ref(null);
    const sessionUser = {
      userEmail: cookies.get('user_email'),
      userAvatar: cookies.get('user_avatar')
    };

    const selectedId = ref(null);
    const confetti = new JSConfetti()

    const responsiveOptions = ref([
      {
        breakpoint: '1024px',
        numVisible: 3,
        numScroll: 3
      },
      {
        breakpoint: '600px',
        numVisible: 2,
        numScroll: 2
      },
      {
        breakpoint: '480px',
        numVisible: 1,
        numScroll: 1
      }
    ]);

    onMounted(async () => {
      const suggestionsResponse = await getSuggestions()
      const profilesResponse = await getProfiles()

      if (!suggestionsResponse.ok)
        throw new Error("Cannot fetch suggestions")
      if (!profilesResponse.ok)
        throw new Error("Cannot fetch joined profiles")

      suggestedRestaurants.value = await suggestionsResponse.json()
      profiles.value = await profilesResponse.json()
    })

    function getLucky(suggestedRestaurants) {
      let suggestionIds = suggestedRestaurants.map(item => item.id);
      let luckyChoice = suggestionIds[Math.floor(Math.random() * suggestionIds.length)];
      console.log(luckyChoice)
      joinGroup(suggestedRestaurants.find(item => item.id == luckyChoice))
      confetti.addConfetti()
    }

    async function submitChoice() {
      await joinSuggestion(selectedId.value, sessionUser.userEmail)
      selectedId.value = null
    }

    async function joinGroup(suggestion) {
      selectedId.value = suggestion.id
      profiles.value.find(profile => profile.userEmail === sessionUser.userEmail).joinedSuggestionId = suggestion.id
      profiles.value = profiles.value.reverse()
    }

    return {dayjs, suggestedRestaurants, responsiveOptions, profiles, joinGroup, getLucky, selectedId, submitChoice}
  }
}


</script>

<style>
h1 {
  text-align: center;
}

.product-item {
}

.product-item-content {
  display: flex;
  flex-direction: column;
  height: 28em;
  border: 3px solid var(--surface-border);
  border-radius: 3px;
  background-color: #485F6E;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.suggestion-info{
  display: flex;
  flex-direction: column;
}

.suggestion-header{
  min-height: 12em;
}

.product-image {
  height: 10em;
  width: 10em;
  object-fit: cover;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.badgeCls {
  position: absolute;
  z-index: 999;
  width: 3em;
  height: 3em;
  box-shadow: 2px 3px 8px 2px #575757;
  right: 1.5em;
  top: -1em;
}

.avatarWrapper {
  padding-top: 14px;
}

.suggestions-container{
  display: flex;
  flex-direction: column;
}

.activeBorder {
  border: 3px solid gold;
}

.buttonWrapper {
  margin: 0 5px;
}
</style>