<template>
  <div class="login-form-container">
    <img alt="Vue logo" class="logo" src="@/assets/new_logo.png" width="250" height="125"/>
    <div class="login-form-input" v-if="!loading">
      <span class="p-float-label">
        <InputText class="p-inputtext" type="mail" v-on:keyup.enter="loginToCybus" v-model="user_email" placeholder="your Cynerio's mail"/>
      </span>
      <Button @click="loginToCybus" label="Login" class="p-button-raised"/>
    </div>
    <ProgressSpinner v-else/>
  </div>
</template>

<script>
import {ref} from "vue";
import {login} from "./loginService"
import {useRouter} from 'vue-router'
import {useCookies} from "vue3-cookies";


export default {
  name: "LoginForm",
  setup() {
    const loading = ref(false)
    const router = useRouter()
    const user_email = ref("")
    const {cookies} = useCookies()

    async function loginToCybus() {
      loading.value = true
      const response = await login(user_email.value)
      loading.value = false

      if (!response.ok)
        throw new Error("Login has failed!")

      cookies.set('user_email', user_email.value)
      await router.replace({name: 'suggestions'})

    }

    return {
      loading,
      user_email,
      loginToCybus
    }
  }
}
</script>

<style scoped>
.login-form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  height: 20rem;
}


</style>